{% form_theme deform 'bootstrap_4_layout.html.twig' %}

{% extends 'layouts/base.html.twig' %}

{% block title 'Edit Pin #'~ op.id %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Edit Pin #{{op.id}}</h1>

			{{form_start(deform)}}
			{{form_widget(deform)}}
			<input type="submit" value="{{submitButtonText ?? ' Edit Pin'}}" class="btn btn-primary btn-block" formnovalidate>
		</p>
		{{form_end(deform)}}
	{% endblock %}
