{% extends 'layouts/base.html.twig' %}

{% block title pin.title %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">
			<article class="bg-white rounded shadow">
				<div class="mw-100 overflow-hidden  rounded-top">
					{% if vich_uploader_asset(pin) is null %}

						<a href="{{path('app_pins_show',{id:pin.id})}}"><img src="{{ asset('/build/images/shoot-raw.3b79a516.jpg')| imagine_filter('squared_thumbnail_medium') }}" class="w-100 "></a>

					{% else %}
						<a href="{{path('app_pins_show',{id:pin.id})}}"><img src="{{ vich_uploader_asset(pin)| imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title}}" class="w-100 "></a>

					{% endif %}
				</div>


				<h1 class="h5 ps-3 pt-3 ">
					<a href=" {{path('app_pins_show',{id:pin.id} )}}" class=" text-secondary text-decoration-none">{{pin.title}}</a>
				</h1>
				<p class="ps-3 pb-3 text-break">{{pin.description}}</p>
				<p class="ps-3 pb-3 text-muted">
					<small>Submitted by
						{{pin.user.firstName}}
						{{pin.user.lastName}}
						<time datetime="{{pin.createdAt|date('Y-m-d H:i:s')}}">{{pin.createdAt|ago}}</time>
					</small>
				</p>
				<div class="ps-3 pb-3">
					<a href="{{path('app_pins_edit',{id:pin.id})}}" class="btn btn-light">
						Edit</a>

					<a href="#" onclick="event.preventDefault(); confirm('Vous etes sur') && document.getElementById('js-pin-delete-form').submit();" class="btn btn-light">Delete</a>
				</p>
				<p>
					<form id="js-pin-delete-form" action="{{path('app_pins_delete',{id:pin.id})}}" method="post" style="display:none;">
						<input type="hidden" name="csrf_token" value="{{csrf_token('pin_deletion_' ~ pin.id)}}">
						<input type="hidden" name="_method" value="DELETE">

					</form>
				</p>
			</div>
		</div>
	</article>
</div>{% endblock %}
